CONFIG_ARCH_ARM64=y
CONFIG_PLATFORM_ORINAGX=y
CONFIG_DT_BINDINGS_PATH="/home/hlyytine/tii-sel4/vm-images/build/tmp/sysroots-components/vm_jetson_agx_orin/nvidia-kernel-oot/usr/src/device-tree/nvidia/t23x/nv-public/include/kernel"
